@page "/report"
@attribute [Authorize]


@if (Elements == null)
{
    @*<MudText>Loading....</MudText>*@
    <div class="spinner center-div"></div>
}
else
{
    <MudPaper Class="ma-2 mt-5 p-2" Elevation="3">
        <MudGrid Spacing="2" Class="p-1">
            <MudItem xs="12">
                <MudCard Elevation="25" Class="rounded-lg pb-4 border border-warning" Style="height: 100%;">
                    <MudCardContent Class="d-inline-flex align-content-center">
                        <MudItem xs="12" sm="3" Class="pa-4 mr-16">
                            <MudDatePicker Label="Từ ngày" @bind-Date="date" Elevation="10" />
                        </MudItem>
                        <MudItem xs="12" sm="3" Class="pa-4 mr-16">
                            <MudDatePicker Label="Từ ngày" @bind-Date="date" Elevation="10" />
                        </MudItem>
                        <MudItem xs="12" sm="3" Class="pa-4 mr-16">
                            <MudSelect @bind-Value="enumValue" Label="Chọn chuồng"
                                       SelectedValuesChanged="(IEnumerable<StepRun>e)=>OnSelectedValuesChanged(e)"
                                       OpenIcon="@Icons.Material.Filled.LocalDrink" AdornmentColor="Color.Secondary" Variant="Variant.Outlined">
                                @foreach (StepRun item in Enum.GetValues(typeof(StepRun)))
                                {
                                    <MudSelectItem Value="@item">@item</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                        <MudButton Class="pa-4 mr-16" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Refresh" OnClick="OnQueryClick"
                                   Style="background-color: yellowgreen; color: white; width: 200px; height: 60px;">
                            Truy vấn
                        </MudButton>
                        <MudButton Class="pa-4 mr-16" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Download" OnClick="OnExportExcelClick"
                                   Style="background-color: yellowgreen; color: white; width: 200px; height: 60px;">
                            Tải excel
                        </MudButton>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12">
                <MudDataGrid Items="@Elements" Filterable="true" FilterMode="DataGridFilterMode.ColumnFilterMenu" FilterCaseSensitivity="DataGridFilterCaseSensitivity.CaseInsensitive">
                    <Columns>
                        <PropertyColumn Property="x => x.CreatedDate" Title="Thời gian" />
                        <PropertyColumn Property="x => x.TenChuong" Title="Tên chuồng" />
                        <PropertyColumn Property="x => x.NhietDo" Title="Nhiệt độ (oC)" />
                        <PropertyColumn Property="x => x.DoAm" Title="Độ ẩm (%)" />
                        <PropertyColumn Property="x => x.Frequency" Title="Tần số (Hz)" />
                    </Columns>
                    <PagerContent>
                        <MudDataGridPager T="APIClient.DataLogModel" />
                    </PagerContent>
                </MudDataGrid>
            </MudItem>
        </MudGrid>
    </MudPaper>
}