@page "/report"
@* @attribute [Authorize] *@


@if (Elements == null && _loading == true)
{
    @*<MudText>Loading....</MudText>*@
    <div class="spinner center-div"></div>
}
else
{
    <MudPaper Class="ma-2 mt-5 p-2" Elevation="3">
        <MudGrid Spacing="2" Class="p-1">
            <MudItem xs="12">
                <MudCard Elevation="25" Class="rounded-lg pb-4 border border-warning" Style="height: 100%;">
                    <MudCardContent Class="align-content-center">
                        <MudGrid Spacing="2">
                            <MudItem xs="12" sm="4">
                                <MudDatePicker Label="Từ ngày" @bind-Date="_dateFrom" Elevation="10" Class="pa-4" />
                            </MudItem>
                            <MudItem xs="12" sm="4">
                                <MudDatePicker Label="Đến ngày" @bind-Date="_dateTo" Elevation="10" Class="pa-4" />
                            </MudItem>
                            <MudItem xs="12" sm="4" Class="pa-4">
                                <MudSelect @bind-Value="enumValue" Label="Chọn chuồng" Class="pa-4"
                                           SelectedValuesChanged="(IEnumerable<ChuongEnum>e)=>OnSelectedValuesChanged(e)"
                                           OpenIcon="@Icons.Material.Filled.LocalDrink" AdornmentColor="Color.Secondary" Variant="Variant.Outlined">
                                    @foreach (ChuongEnum item in Enum.GetValues(typeof(ChuongEnum)))
                                    {
                                        <MudSelectItem Value="@item">@item</MudSelectItem>
                                    }
                                </MudSelect>
                            </MudItem>

                            <MudItem xs="12" sm="6">
                                <MudButton Class="pa-4" FullWidth=true Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Refresh" OnClick="OnQueryClick"
                                           Style="background-color: yellowgreen; color: white;">
                                    Truy vấn
                                </MudButton>
                            </MudItem>
                            <MudItem xs="12" sm="6">
                                <MudButton Class="pa-4" Variant="Variant.Filled" FullWidth=true StartIcon="@Icons.Material.Filled.Download" OnClick="OnExportExcelClick"
                                           Style="background-color: yellowgreen; color: white;">
                                    Tải excel
                                </MudButton>
                            </MudItem>
                        </MudGrid>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12">
                <MudDataGrid Items="@Elements" Filterable="true" FilterMode="DataGridFilterMode.ColumnFilterMenu" FilterCaseSensitivity="DataGridFilterCaseSensitivity.CaseInsensitive">
                    <Columns>
                        <PropertyColumn Property="x => x.CreatedDate" Title="Thời gian" />
                        <PropertyColumn Property="x => x.TenChuong" Title="Tên chuồng" />
                        <PropertyColumn Property="x => x.NhietDo" Title="Nhiệt độ (oC)" />
                        <PropertyColumn Property="x => x.DoAm" Title="Độ ẩm (%)" />
                        <PropertyColumn Property="x => x.Frequency" Title="Tần số (Hz)" />
                    </Columns>
                    <PagerContent>
                        <MudDataGridPager T="APIClient.DataLogModel" />
                    </PagerContent>
                </MudDataGrid>
            </MudItem>
        </MudGrid>
    </MudPaper>
}