@page "/c/{ChuongId}"
@* @attribute [Authorize] *@
@attribute [Authorize(Roles = "Admin")]
@*@attribute [AllowAnonymous]*@

@using System.ComponentModel.DataAnnotations

@* @if (ChuongId != null)
{
    <SettingsChuong ChuongId="@ChuongId"></SettingsChuong>
} *@

@if (_chuongInfo == null && _stepModel == null)
{
    @*<MudText>Loading....</MudText>*@
    <div class="spinner center-div"></div>
}
else
{
    <MudPaper Class="ma-2 mt-5 p-3" Elevation="3">
        <EditForm Model="@_stepModel" OnValidSubmit="OnValidSubmit" OnInvalidSubmit="OnInvalidSubmit">
            <DataAnnotationsValidator />

            <MudGrid Spacing="2" Class="p-1">
                <MudItem xs="12">
                    <MudChip Style="@($"color:{_theme.Palette.White}; background:{_theme.Palette.DarkDarken};")" Class="d-flex">@_stepModel.TenChuong</MudChip>
                    </MudItem>
                    <MudDivider></MudDivider>
                    <MudItem xs="12">
                        <MudCard Class="rounded-lg pb-4 border border-warning">
                            <MudCardContent>
                                <MudGrid Spacing="1" Class="pt-2">
                                    <MudItem xs="12">
                                        <MudCard Class="m-2">
                                            <MudCardHeader Style="@($"color:{_theme.Palette.White}; background:{_theme.Palette.SuccessDarken};")">
                                                Cài đặt giai đoạn
                                            </MudCardHeader>
                                            <MudCardContent>
                                                <MudGrid Spacing="1">
                                                    <MudItem xs="12">
                                                        <MudSelect @bind-Value="enumValue" Label="CHỌN GIAI ĐOẠN"
                                                                   SelectedValuesChanged="(IEnumerable<StepRun>e)=>OnSelectedValuesChanged(e)"
                                                                   HelperText="Chọn giai đoạn để cài đặt các thông số" HelperTextOnFocus="true"
                                                                   OpenIcon="@Icons.Material.Filled.LocalDrink" AdornmentColor="Color.Secondary" Variant="Variant.Outlined">
                                                            @foreach (StepRun item in Enum.GetValues(typeof(StepRun)))
                                                        {
                                                            <MudSelectItem Value="@item">@item</MudSelectItem>
                                                        }
                                                    </MudSelect>
                                                </MudItem>
                                                <MudItem xs="12">
                                                    <MudGrid Spacing="1">
                                                        <MudItem xs="12" sm="3">
                                                            <MudNumericField Label="Từ ngày" HelperText="Ngày bắt đầu giai đoạn" HelperTextOnFocus="true" Class="m-2"
                                                                             @bind-Value="@_stepModel.FromDate" For="@(()=>_stepModel.FromDate)"></MudNumericField>
                                                        </MudItem>
                                                        <MudItem xs="12" sm="3">
                                                            <MudNumericField Label="Đến ngày" HelperText="Ngày kết thúc giai đoạn" HelperTextOnFocus="true" Class="m-2"
                                                                             @bind-Value="@_stepModel.ToDate" For="@(()=>_stepModel.ToDate)"></MudNumericField>
                                                        </MudItem>
                                                        <MudItem xs="12" sm="3">
                                                            <MudNumericField Label="Số quạt chạy cố định" Class="m-2"
                                                                             @bind-Value="@_stepModel.StaticFanRun" For="@(()=>_stepModel.StaticFanRun)"></MudNumericField>
                                                        </MudItem>
                                                        <MudItem xs="12" sm="3">
                                                            <MudNumericField Label="Nhiệt bật dàn mát (oC)" Class="m-2"
                                                                             @bind-Value="@_stepModel.TempRunCooler" For="@(()=>_stepModel.LowFrequency)"></MudNumericField>
                                                        </MudItem>
                                                    </MudGrid>
                                                </MudItem>
                                                <MudItem xs="12">
                                                    <MudGrid Spacing="1">
                                                        <MudItem xs="12" sm="3">
                                                            <MudNumericField Label="Nhiệt độ cao (oC)" Class="m-2"
                                                                             @bind-Value="@_stepModel.HightTemperature" For="@(()=>_stepModel.HightTemperature)"></MudNumericField>
                                                        </MudItem>
                                                        <MudItem xs="12" sm="3">
                                                            <MudNumericField Label="Nhiệt độ thấp (oC)" Class="m-2"
                                                                             @bind-Value="@_stepModel.Lowtemperature" For="@(()=>_stepModel.Lowtemperature)"></MudNumericField>
                                                        </MudItem>
                                                        <MudItem xs="12" sm="3">
                                                            <MudNumericField Label="Tần số cao (Hz)" Class="m-2"
                                                                             @bind-Value="@_stepModel.HightFrequency" For="@(()=>_stepModel.HightFrequency)"></MudNumericField>
                                                        </MudItem>
                                                        <MudItem xs="12" sm="3">
                                                            <MudNumericField Label="Tần số thấp (Hz)" Class="m-2"
                                                                             @bind-Value="@_stepModel.LowFrequency" For="@(()=>_stepModel.LowFrequency)"></MudNumericField>
                                                        </MudItem>
                                                    </MudGrid>
                                                </MudItem>
                                                <MudItem xs="12">
                                                    <MudGrid Spacing="1">
                                                        <MudItem xs="12" sm="3">
                                                            <MudNumericField Label="Nhiệt độ bật quạt 1 (oC)" Class="m-2"
                                                                             @bind-Value="@_stepModel.TempRunFan1" For="@(()=>_stepModel.TempRunFan1)"></MudNumericField>
                                                        </MudItem>
                                                        <MudItem xs="12" sm="3">
                                                            <MudNumericField Label="Nhiệt độ bật quạt 2 (oC)" Class="m-2"
                                                                             @bind-Value="@_stepModel.TempRunFan2" For="@(()=>_stepModel.TempRunFan2)"></MudNumericField>
                                                        </MudItem>
                                                        <MudItem xs="12" sm="3">
                                                            <MudNumericField Label="Nhiệt độ bật quạt 3 (oC)" Class="m-2"
                                                                             @bind-Value="@_stepModel.TempRunFan3" For="@(()=>_stepModel.TempRunFan3)"></MudNumericField>
                                                        </MudItem>
                                                        <MudItem xs="12" sm="3">
                                                            <MudNumericField Label="Nhiệt độ bật quạt 4 (oC)" Class="m-2"
                                                                             @bind-Value="@_stepModel.TempRunFan4" For="@(()=>_stepModel.TempRunFan4)"></MudNumericField>
                                                        </MudItem>
                                                    </MudGrid>
                                                </MudItem>
                                            </MudGrid>

                                        </MudCardContent>
                                    </MudCard>
                                </MudItem>
                                <MudItem xs="12">
                                    <MudCard Class="m-2">
                                        <MudCardHeader Style="@($"color:{_theme.Palette.White}; background:{_theme.Palette.SuccessDarken};")">
                                            Cài đặt chung
                                        </MudCardHeader>
                                        <MudCardContent>
                                            <MudGrid Spacing="1" Class="m-2">
                                                <MudItem xs="12" sm="6">
                                                    <MudTextField Label="Tên chuồng" Class="m-2"
                                                                  @bind-Value="@_stepModel.TenChuong" For="@(()=>_stepModel.TenChuong)"></MudTextField>
                                                </MudItem>
                                                <MudItem xs="12" sm="6">
                                                    <MudNumericField Label="Thứ tự chuồng" Class="m-2"
                                                                     @bind-Value="@_stepModel.NumIndex" For="@(()=>_stepModel.NumIndex)"></MudNumericField>
                                                </MudItem>
                                                <MudItem xs="12" sm="3">
                                                    <MudNumericField Label="Thời gian chạy dàn mát (phút)" Class="m-2"
                                                                     @bind-Value="@_stepModel.TimeOnCooler" For="@(()=>_stepModel.TimeOnCooler)"></MudNumericField>
                                                </MudItem>
                                                <MudItem xs="12" sm="3">
                                                    <MudNumericField Label="Thời gian nghỉ dàn mát (phút)" Class="m-2"
                                                                     @bind-Value="@_stepModel.TimeOffCooler" For="@(()=>_stepModel.TimeOffCooler)"></MudNumericField>
                                                </MudItem>
                                                <MudItem xs="12" sm="3">
                                                    <MudNumericField Label="Quạt 1" Class="m-2"
                                                                     @bind-Value="@_stepModel.Fan1" For="@(()=>_stepModel.Fan1)"></MudNumericField>
                                                </MudItem>
                                                <MudItem xs="12" sm="3">
                                                    <MudNumericField Label="Quat 2" Class="m-2"
                                                                     @bind-Value="@_stepModel.Fan2" For="@(()=>_stepModel.Fan2)"></MudNumericField>
                                                </MudItem>
                                                <MudItem xs="12" sm="3">
                                                    <MudNumericField Label="Quat 3" Class="m-2"
                                                                     @bind-Value="@_stepModel.Fan3" For="@(()=>_stepModel.Fan3)"></MudNumericField>
                                                </MudItem>
                                                <MudItem xs="12" sm="3">
                                                    <MudNumericField Label="Quat 4" Class="m-2"
                                                                     @bind-Value="@_stepModel.Fan4" For="@(()=>_stepModel.Fan4)"></MudNumericField>
                                                </MudItem>
                                                <MudItem xs="12" sm="3">
                                                    <MudNumericField Label="Ngày hiện tại" Class="m-2" HelperTextOnFocus="true" HelperText="Nhập ngày để chọn giai đoạn chạy tương ứng"
                                                                     @bind-Value="@_stepModel.CurrentDay" For="@(()=>_stepModel.CurrentDay)"></MudNumericField>
                                                </MudItem>
                                                <MudItem xs="12" sm="3">
                                                    <MudNumericField Label="Bù nhiệt (oC)" Class="m-2" HelperTextOnFocus="true" HelperText="Giá trị offset nhiệt độ."
                                                                     @bind-Value="@_stepModel.OffsetTemp" For="@(()=>_stepModel.OffsetTemp)"></MudNumericField>
                                                </MudItem>
                                                <MudItem xs="12" sm="3">
                                                    <MudNumericField Label="Trễ cảnh báo (oC)" Class="m-2"
                                                                     @bind-Value="@_stepModel.DeadbandTemp" For="@(()=>_stepModel.DeadbandTemp)"></MudNumericField>
                                                </MudItem>
                                                <MudItem xs="12" sm="3">
                                                    <MudNumericField Label="Reset giai đoạn" Class="m-2" HelperText="Cho chạy lại từ giai đoạn đầu tiên" HelperTextOnFocus="true"
                                                                     @bind-Value="@_stepModel.ResetGiaiDoan" For="@(()=>_stepModel.ResetGiaiDoan)"></MudNumericField>
                                                </MudItem>
                                            </MudGrid>
                                        </MudCardContent>
                                    </MudCard>
                                </MudItem>
                                <MudItem xs="12">
                                    <MudCard Class="m-2">
                                        <MudCardHeader Style="@($"color:{_theme.Palette.White}; background:{_theme.Palette.SuccessDarken};")">
                                            Năng suất
                                        </MudCardHeader>
                                        <MudCardContent>
                                            <MudGrid Spacing="1" Class="m-2">
                                                <MudItem xs="12" sm="3">
                                                    <MudTooltip Text="Số lượng con ban đầu khi bắt đầu nuôi" Arrow="true" Placement="MudBlazor.Placement.Top" Color="MudBlazor.Color.Tertiary">
                                                        <MudNumericField Label="Số lượng con ban đầu" Class="m-2"
                                                                         @bind-Value="@_stepModel.SoLuongBanDau" For="@(()=>_stepModel.SoLuongBanDau)"></MudNumericField>
                                                    </MudTooltip>
                                                </MudItem>
                                                <MudItem xs="12" sm="3">
                                                    <MudNumericField Label="Số lượng con chết" Class="m-2"
                                                                     @bind-Value="@_stepModel.SoLuongChet" For="@(()=>_stepModel.SoLuongChet)"></MudNumericField>
                                                </MudItem>
                                                <MudItem xs="12" sm="3">
                                                    <MudNumericField Label="Số lượng con bệnh" Class="m-2"
                                                                     @bind-Value="@_stepModel.SoLuongBiBenh" For="@(()=>_stepModel.SoLuongBiBenh)"></MudNumericField>
                                                </MudItem>
                                                <MudItem xs="12" sm="3">
                                                    <MudNumericField Label="Số lượng con đang điều trị" Class="m-2"
                                                                     @bind-Value="@_stepModel.SoLuongDangDieuTri" For="@(()=>_stepModel.SoLuongDangDieuTri)"></MudNumericField>
                                                </MudItem>
                                                <MudItem xs="12" sm="3">
                                                    <MudNumericField Label="Khối lượng thức ăn ban đầu" Class="m-2"
                                                                     @bind-Value="@_stepModel.TongKhoiLuongThucAn" For="@(()=>_stepModel.TongKhoiLuongThucAn)"></MudNumericField>
                                                </MudItem>
                                                <MudItem xs="12" sm="3">
                                                    <MudNumericField Label="Khối lượng/1 con" Class="m-2"
                                                                     @bind-Value="@_stepModel.KhoiLuongTren1Con" For="@(()=>_stepModel.KhoiLuongTren1Con)"></MudNumericField>
                                                </MudItem>
                                            </MudGrid>
                                        </MudCardContent>
                                    </MudCard>
                                </MudItem>
                            </MudGrid>
                        </MudCardContent>
                        <MudCardActions>
                            <MudButton ButtonType="MudBlazor.ButtonType.Submit" FullWidth=true Variant="Variant.Filled" Color="Color.Primary" Class="btn btn-primary btn-lg btn-block">Cập nhật</MudButton>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </EditForm>
    </MudPaper>
}