@page "/"
@attribute [Authorize]
@*@attribute [Authorize(Roles = "Admin")]*@@*phan theo quyen*@
@*@attribute [AllowAnonymous]*@


@if (_displayRealtime == null)
{
    @*<MudText>Loading....</MudText>*@
    <div class="spinner center-div"></div>
}
else
{
    <MudGrid Spacing="2" Class="pt-5">
        @foreach (var item in _displayRealtime)
        {
            <MudItem xs="12" sm="6">
                <MudCard Elevation="25" Class="rounded-lg pb-4 border border-warning">
                    <MudCardHeader Style="@($"color:{_theme.Palette.White}; background:{_theme.Palette.DarkDarken};")">
                        <CardHeaderAvatar>
                            <MudIcon Icon="@Icons.Material.Filled.Warehouse"></MudIcon>
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h5" Align="Align.Center">@item.TenChuong</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudGrid Spacing="1">
                            <MudItem xs="12">
                                <MudGrid Spacing="2">
                                    <MudItem xs="12" sm="6" Class="d-flex flex-row justify-content-end">
                                        <MudText Typo="Typo.subtitle2" Class="d-flex flex-row">Chế độ chạy: </MudText>
                                        <MudText Typo="Typo.subtitle2" Class="d-flex flex-row" Color="Color.Success">@item.ActiveStatus</MudText>
                                    </MudItem>
                                    <MudItem xs="12" sm="6" Class="d-flex flex-row justify-content-end">
                                        <MudText Typo="Typo.subtitle2" Class="d-flex flex-row">Trạng thái kết nối: </MudText>
                                        <MudText Typo="Typo.subtitle2" Class="d-flex flex-row" Color="@(item.ConnectStatus=="Connected"?Color.Success:Color.Error)">@item.ConnectStatus</MudText>
                                    </MudItem>
                                </MudGrid>
                            </MudItem>
                            <MudItem xs="12">
                                <MudGrid Spacing="1">
                                    <MudItem xs="12" sm="4">
                                        <MudCard Class="pb-4">
                                            <MudCardHeader Style="@($"color:{_theme.Palette.Dark}; background:{_theme.Palette.TertiaryLighten}; height: 30px;")">
                                                <CardHeaderAvatar>
                                                    <MudIcon Icon="@_iconTemperature"></MudIcon>
                                                </CardHeaderAvatar>
                                                <CardHeaderContent>
                                                    Nhiệt độ (oC)
                                                </CardHeaderContent>
                                            </MudCardHeader>
                                            <MudCardContent Class="d-flex justify-content-center" Style="heeight:40px">
                                                <MudText Typo="Typo.h4" class="rounded mx-auto d-block">@item.Temperature</MudText>
                                            </MudCardContent>
                                        </MudCard>
                                    </MudItem>
                                    <MudItem xs="12" sm="4">
                                        <MudCard Class="pb-4">
                                            <MudCardHeader Style="@($"color:{_theme.Palette.Dark}; background:{_theme.Palette.TertiaryLighten};height: 30px;")">
                                                <CardHeaderAvatar>
                                                    <MudIcon Icon="@_iconHumidity"></MudIcon>
                                                </CardHeaderAvatar>
                                                <CardHeaderContent>
                                                    Độ ẩm (%)
                                                </CardHeaderContent>
                                            </MudCardHeader>
                                            <MudCardContent Class="d-flex justify-content-center">
                                                <MudText Typo="Typo.h4" class="rounded mx-auto d-block">@item.Humidity</MudText>
                                            </MudCardContent>
                                        </MudCard>
                                    </MudItem>
                                    <MudItem xs="12" sm="4">
                                        <MudCard Class="pb-4">
                                            <MudCardHeader Style="@($"color:{_theme.Palette.Dark}; background:{_theme.Palette.TertiaryLighten};height: 30px;")">
                                                <CardHeaderAvatar>
                                                    <MudIcon Icon="@_iconFrequency"></MudIcon>
                                                </CardHeaderAvatar>
                                                <CardHeaderContent>
                                                    Tần số (Hz)
                                                </CardHeaderContent>
                                            </MudCardHeader>
                                            <MudCardContent Class="d-flex justify-content-center">
                                                <MudText Typo="Typo.h4" class="rounded mx-auto d-block">@item.Frequency</MudText>
                                            </MudCardContent>
                                        </MudCard>
                                    </MudItem>
                                </MudGrid>
                            </MudItem>
                            <MudItem xs="12">
                                <MudCard Class="pb-4">
                                    <MudCardHeader Style="@($"color:{_theme.Palette.Dark}; background:{_theme.Palette.TertiaryLighten};height: 30px;")">
                                        <CardHeaderAvatar>
                                            <MudIcon Icon="@_iconMonitor"></MudIcon>
                                        </CardHeaderAvatar>
                                        <CardHeaderContent>Trạng thái quạt</CardHeaderContent>
                                    </MudCardHeader>
                                    <MudCardContent>
                                        <MudGrid Spacing="1">
                                            <MudItem xs="12" sm="4" Class="d-flex flex-column justify-content-center">
                                                <img src="@(item.Fan1Status==1?_fanOn:_fanOff)" style="width: 80px !important" class="rounded mx-auto d-block" />
                                                <MudText Typo="Typo.subtitle2" class="rounded mx-auto d-block">Quạt 1</MudText>
                                            </MudItem>
                                            <MudItem xs="12" sm="4" Class="d-flex flex-column justify-content-center">
                                                <img src="@(item.Fan2Status==1?_fanOn:_fanOff)" style="width: 80px !important" class="rounded mx-auto d-block" />
                                                <MudText Typo="Typo.subtitle2" class="rounded mx-auto d-block">Quạt 2</MudText>
                                            </MudItem>
                                            <MudItem xs="12" sm="4" Class="d-flex flex-column justify-content-center">
                                                <img src="@(item.Fan3Status==1?_fanOn:_fanOff)" style="width: 80px !important" class="rounded mx-auto d-block" />
                                                <MudText Typo="Typo.subtitle2" class="rounded mx-auto d-block">Quạt 3</MudText>
                                            </MudItem>
                                            <MudItem xs="12" sm="4" Class="d-flex flex-column justify-content-center">
                                                <img src="@(item.Fan4Status==1?_fanOn:_fanOff)" style="width: 80px !important" class="rounded mx-auto d-block" />
                                                <MudText Typo="Typo.subtitle2" class="rounded mx-auto d-block">Quạt 4</MudText>
                                            </MudItem>
                                            <MudItem xs="12" sm="4" Class="d-flex flex-column justify-content-center">
                                                <img src="@(item.CoollerStatus==1?_coolerOn:_coollerOff)" style="width: 80px !important" class="rounded mx-auto d-block" />
                                                <MudText Typo="Typo.subtitle2" class="rounded mx-auto d-block">Dàn mát</MudText>
                                            </MudItem>
                                        </MudGrid>
                                    </MudCardContent>
                                </MudCard>
                            </MudItem>
                        </MudGrid>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        }
    </MudGrid>
}